{% import "macros/trade.html" as trade %}
<h2 class="heading-medium">Company summary</h2>
{% if chDisplay %}
  <div class="dark-panel">
    {{ trade.keyvaluetable(chDisplay, labels=chDetailLabels, keyorder=chDetailsDisplayOrder, readonly=true) }}
    <p>Powered by data from <strong>Companies House</strong></p>
  </div>
{% endif %}

{{ trade.keyvaluetable(companyDisplay, stripey=true, labels=companyDetailLabels, keyorder=companyDetailsDisplayOrder) }}

<a href="/company/edit" class="button">Update</a>

<h3 class="heading-medium">Parent companies</h3>
<p>This company is currently not linked with any companies that is is a child of.</p>
<a href="#" class="button button-secondary">Add a parent company</a>

<h3 class="heading-medium">Child companies</h3>
<p class="footnote">This company is currently not linked with any companies that is is a parent of.</p>
<a href="#" class="button button-secondary">Add a child company</a>
