{% extends "layouts/ukti.html" %}
{% block head_script %}
<script>
  window.company = {{ company | dump | safe }}
  window.csrfToken= '{{ csrfToken }}'
</script>
{% endblock %}

%}
{% block main %}
<h1 class="visually-hidden">Company Details</h1>
<h2 class="page-heading">
  {% if company.id %}<span class="pre-header">Company ref: 321513</span>{% endif %}
  {{ headingName }}
  <span class="post-header">{{ headingAddress }}</span>
</h2>
{{ company | log | safe }}
<div class="tabs tabs--inline">
  <ul class="tabs-nav">
    <li class="tab">
      <a class="{% if tab == 'details' %}selected{% endif %}" href="/company/{{source}}/{{id}}/details">Details</a>
    </li>
    <li class="tab">
      <a class="{% if tab == 'contacts' %}selected{% endif %}" href="/company/{{source}}/{{id}}/contacts">Contacts</a>
    </li>
    <li class="tab">
      <a class="{% if tab == 'interactions' %}selected{% endif %}" href="/company/{{source}}/{{id}}/interactions">Interactions</a>
    </li>
    {% if company.id %}
    <li class="tab">
      <a class="{% if tab == 'exports' %}selected{% endif %}" href="/company/{{source}}/{{id}}/export">Export</a>
    </li>
    <li class="tab">
      <a class="{% if tab == 'investment' %}selected{% endif %}" href="/company/{{source}}/{{id}}/investment">Investment</a>
    </li>
    {% endif %}
  </ul>
</div>
{% block tabmain%}{% endblock %}
{% endblock %}
