{% extends "layouts/ukti.html" %}

{% block main %}

<h1 class="visually-hidden">Company Details</h1>
<h2 class="heading-xlarge">
  {% if company.id %}<span class="pre-header">Company ref: 321513</span>{% endif %}
  {{ headingName }}
  <span class="post-header">{{ headingAddress }}</span>
</h2>

<div class="tabs tabs--inline js-tabs">
  <ul class="tabs-nav">
    <li class="tab">
      <a href="#details">Details</a>
    </li>
    <li class="tab">
      <a href="#contacts">Contacts</a>
    </li>
    <li class="tab">
      <a href="#interactions">Interactions</a>
    </li>
    <li class="tab">
      <a href="#export">Export</a>
    </li>
    <li class="tab">
      <a href="#investment">Investment</a>
    </li>
  </ul>
  <div id="details" class="tabs-panel">
    <div class="tabs-panel-inner">
      {% include "company/details.html" %}
    </div>
  </div>
  <div id="contacts" class="tabs-panel">
    <div class="tabs-panel-inner">
      {% include "company/contacts.html" %}
    </div>
  </div>
  <div id="interactions" class="tabs-panel">
    <div class="tabs-panel-inner">
      {% include "company/interactions.html" %}
    </div>
  </div>
  <div id="export" class="tabs-panel">
    <div class="tabs-panel-inner">
      {% include "company/export.html" %}
    </div>
  </div>
  <div id="investment" class="tabs-panel">
    <div class="tabs-panel-inner">
      {% include "company/investment.html" %}
    </div>
  </div>
</div>

{% endblock %}
