{% extends "layouts/ukti.html" %}
{% block head_script %}
<script>
    window.company = {{company | dump | safe}}
    window.csrfToken = '{{ csrfToken }}'
</script>
{% endblock %}

%}
{% block main %}
<h1 class="visually-hidden">Company Details</h1>
<h2 class="page-heading">
    {% if company.id %}<span class="pre-header">Company ref: 321513</span>{% endif %}
    {{ headingName }}
    <span class="post-header">{{ headingAddress }}</span>
</h2>
{{ company | log | safe }}

<div class="left-nav-container">
    <div class="left-nav">
        <nav>
            <div class="{% if tab == 'details' %}active{% endif %}">
                <a href="/company/{{source}}/{{id}}/details">Details</a>
                <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
            </div>
            <div class="{% if tab == 'contacts' %}active{% endif %}">
                <a href="/company/{{source}}/{{id}}/contacts">Contacts</a>
                <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
            </div>
            <div class="{% if tab == 'interactions' %}active{% endif %}">
                <a href="/company/{{source}}/{{id}}/interactions">Interactions</a>
                <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
            </div>

            {% if company.id %}
            <div class="{% if tab == 'exports' %}active{% endif %}">
                <a href="/company/{{source}}/{{id}}/export">Export</a>
            </div>
            <div class="{% if tab == 'investment' %}active{% endif %}">
                <a href="/company/{{source}}/{{id}}/investment">Investment</a>
            </div>
            {% endif %}
        </nav>
    </div>
    <div class="right-content">
        {% block tabmain%}{% endblock %}
    </div>
</div>

<script>

    // chevron handler events
    var menu = document.querySelector('.left-nav');
    var allItems = menu.querySelectorAll("nav div");

    [].forEach.call(allItems, function (e) {
        e.addEventListener('click', function(){
            if (document.documentElement.clientWidth > 641) {
                return;
            }
            var chevron = e.querySelector('.collapse-filter');
            var menu = document.querySelector('.left-nav');
            var nonActiveItems = menu.querySelectorAll("nav div:not(.active)");

            if (chevron.classList.contains('fa-chevron-down')) {
                // expand
                chevron.classList.remove('fa-chevron-down');
                chevron.className += ' fa-chevron-up ';
                [].forEach.call(nonActiveItems, function (a) {
                    a.style.display = null;
                });

            } else {
                //collapse
                chevron.classList.remove('fa-chevron-up');
                chevron.className += ' fa-chevron-down ';
                [].forEach.call(nonActiveItems, function (a) {
                    a.style.display = 'none';
                });
            }
        });
    });

    // on resize, hide items except the active one
    function togglerHandler() {
        var menu = document.querySelector('.left-nav');
        var nonActiveItems = menu.querySelectorAll("nav div:not(.active)");
        var allItems = menu.querySelectorAll("nav div");

        if (document.documentElement.clientWidth <= 641) {
            [].forEach.call(nonActiveItems, function (a) {
                a.style.display = 'none';
            });
        } else {
            [].forEach.call(allItems, function (a) {
                a.style.display = null;
            });
        }
    }

    window.addEventListener("resize", togglerHandler);
    window.addEventListener("load", togglerHandler);


</script>

{% endblock %}
