/**
 * used at the top of the project views
 */
.projectstatusbar {
  @extend .clearfix;
  border-left: 10px solid $grey-2;
  padding-left:1rem;
  margin: 2rem 0;
  &__col {
    width:100%;
    float:left;
    // height:60px;
  }

  &__col__heading, &__col__value {
    display:block
  }
  &__col__heading {
    font-weight: bold;
  }
}

@media screen and (min-width:$mobile-breakpoint-max) {
  .projectstatusbar {
    width:$mobile-breakpoint-max;
    &__col {
      width:50%;
    }
  }


}
