{% extends "layouts/ukti.html" %}

{% block main %}

  {% import "macros/trade.html" as trade %}
  {% import "./investment_macros.html" as local %}



  <section class="projectheader">
    <div class="projectoverview">
      <h1 class="heading-large">{{ projectTitle | default('Project title goes here') }}</h1>
      <address class="address_summary">
        company name, address line 1, address line 2, City, POST CODE
      </address>
    </div>

    {% include "./partials/projectstatusbar.html" %}

  </section>
  <div class="left-nav-container">
    <div class="left-nav">
      <nav>
        <div class="{% if tab == 'summary' %}active{% endif %}">
          <a href="/investment/{{ sourceId }}/details">Project</a>
          <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
        </div>
        <div class="{% if tab == 'contacts' %}active{% endif %}">
          <a href="/investment/{{ sourceId }}/details">Client</a>
          <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
        </div>
        <div class="{% if tab == 'interactions' %}active{% endif %}">
          <a href="/investment/{{ sourceId }}/details">Project team</a>
          <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
        </div>
        <div class="{% if tab == 'interactions' %}active{% endif %}">
          <a href="/investment/{{ sourceId }}/details">Interactions</a>
          <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
        </div>
        <div class="{% if tab == 'interactions' %}active{% endif %}">
          <a href="/investment/{{ sourceId }}/details">Documents</a>
          <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
        </div>
        <div class="{% if tab == 'interactions' %}active{% endif %}">
          <a href="/investment/{{ sourceId }}/details">Evaluation</a>
          <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
        </div>
        <div class="{% if tab == 'interactions' %}active{% endif %}">
          <a href="/investment/{{ sourceId }}/details">Audit history</a>
          <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
        </div>
      </nav>
    </div>

    <div class="right-content">
      {% block tabmain%}{% endblock %}


    </div>
  </div>
  <script src="/javascripts/common.js"></script>

  <script src="/javascripts/leftnav.bundle.js"></script>



{% endblock %}
