{% extends "layouts/ukti.html" %}

{% block main %}

  {% import "macros/trade.html" as trade %}
  {% import "./investment_macros.html" as local %}

  <h1>{{ projectTitle }}</h1>

  <section class="panel">
    <div class="interactive-header">
      <p class="bold-small">{{ details.projectNumber }}</p>
      Close project
    </div>
    <div>


      <p class="bold-small">Prospect stage</p>
      {{ prospectStage }}
    </div>



  </section>
  <div class="left-nav-container">

    <div class="left-nav">
      <nav>
        <div class="active">
          <a href="/investment/{{id}}/details">Project</a>
          <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
        </div>
        <div class="{% if tab == 'contacts' %}active{% endif %}">
          <a href="/investment/{{id}}/details">Client</a>
          <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
        </div>
        <div class="{% if tab == 'interactions' %}active{% endif %}">
          <a href="/investment/{{id}}/details">Project team</a>
          <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
        </div>
        <div class="{% if tab == 'interactions' %}active{% endif %}">
          <a href="/investment/{{id}}/details">Interactions</a>
          <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
        </div>
        <div class="{% if tab == 'interactions' %}active{% endif %}">
          <a href="/investment/{{id}}/details">Documents</a>
          <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
        </div>
        <div class="{% if tab == 'interactions' %}active{% endif %}">
          <a href="/investment/{{id}}/details">Evaluation</a>
          <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
        </div>
        <div class="{% if tab == 'interactions' %}active{% endif %}">
          <a href="/investment/{{id}}/details">Audit history</a>
          <i class="collapse-filter collapse-filter-js fa fa-chevron-down"></i>
        </div>
      </nav>
    </div>

    <div class="right-content">
      <p class="guidancestrip">New project added successfully at Prospect stage
        Complete both the Value and Requirements and location sections below move the project to “Assign Project Manager” stage.</p>

      <h2 class="heading-medium">Investment project summary</h2>
      {{ trade.keyvaluetable(
      details,
      stripey=false,
      labels=detailsDisplay,
      keyorder=detailsDisplayOrder,
      id="investment-details")
      }}

      <h2 class="heading-medium">Value</h2>
      <div class="panel">Please complete this section to move to "Assign project manager stage"</div>

      <h2 class="heading-medium">Requirements and location</h2>
      <div class="panel">Please complete this section to move to "Assign project manager stage"</div>

      <h2></h2>

      <h2 class="heading-medium">Referral source</h2>
      {{ trade.keyvaluetable(
      referral,
      stripey=false,
      labels=referLabels,
      keyorder=referOrder,
      id="investment-details")
      }}


    </div>
  </div>
  <script src="/javascripts/common.js"></script>

  <script src="/javascripts/leftnav.bundle.js"></script>



{% endblock %}
