{% extends "./container.html" %}

{% block tabmain %}


      <p class="guidancestrip">New project added successfully at Prospect stage
        Complete both the Value and Requirements and location sections below move the project to “Assign Project Manager” stage.</p>

      <h2 class="heading-medium">Investment project summary</h2>
      {{ trade.keyvaluetable(
      details,
      stripey=false,
      labels=detailsDisplay,
      keyorder=detailsDisplayOrder,
      id="investment-details")
      }}

      <a href="/investment/{{ sourceId }}/summary/edit" class="button button-secondary">Edit summary</a>

      <h2 class="heading-medium">Value</h2>
      {{ trade.keyvaluetable(
      blankValue,
      stripey=false,
      labels=valueLabels,
      keyorder=valueOrder,
      id="value-details")
      }}

      <h2 class="heading-medium">Requirements and location</h2>
      {{ trade.keyvaluetable(
      blankRequirements,
      stripey=false,
      labels=requirementsLabels,
      keyorder=requirementsOrder,
      id="investment-details")
      }}

      <h2 class="heading-medium">Referral source</h2>
      {{ trade.keyvaluetable(
      referral,
      stripey=false,
      labels=referralSource,
      keyorder=referOrder,
      id="investment-details")
      }}




{% endblock %}
