{% extends "layouts/ukti_template.html" %}

{% set homepage_url = "/" %}
{% block service_name %}Datahub{% endblock %}

{% block head_styles %}
<!-- This is a test -->
<link href="/font-awesome-4.7.0/css/font-awesome.min.css" media="screen" rel="stylesheet" />
<link href="{{ asset_path | default('/') }}css/application.css" media="screen" rel="stylesheet" />
{% endblock %}

{% block head_script %}
 {% if user %}
    <script>
      if (!window.DIT) window.DIT = {};
      window.DIT.user = {{ user | stringify | safe }};
    </script>
  {% endif %}
{% endblock %}

{% block content %}
  <nav class="contentheader">
    <div class="contentheader__section contentheader__section--left">
      <a href="/" class="contentheader__item">Home</a>
    </div>
    {% if user and user.name %}
    <div class="contentheader__section contentheader__section--right">
      <span class="contentheader__item">{{ user.name }}: </span>
      <a href="/myaccount" class="contentheader__item">My account</a>
      |
      <a href="/login/signout" class="contentheader__item">Sign out</a>
    </div>
    {% endif %}
  </nav>

  <div class="container">
    {% block main %}{% endblock %}
  </div>
{% endblock %}

{% block footer %}
<footer class="group js-footer footer--govuk" id="footer" role="contentinfo">
  <div class="footer-wrapper">
    <span>This is a new service – your <a href="/support/bug">feedback</a> will help us to improve it.</span>
  </div>
</footer>
{% endblock %}
